html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* ------- NAV BAR -------*/

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
}

a {
    text-decoration: none;
    color: black;
}

.holder {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #272341;
    min-height: 9vh;
}

.logo img {
    width: 100%;
}

.logo {
    padding-top: 5px;
    width: 120px;
}

nav li a {
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    padding-left: 40px;
    color: white;
}

nav li {
    list-style: none;
}

nav li a:hover {
    cursor: pointer;
    color: #50f2a7;
    transition: all 0.2;
}

.nav-list {
    margin-left: auto;
}

.nav-list ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}

/* ------- HOME -------*/


.mega-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.title {
    padding-top: 15%;
    padding-bottom: 10%;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    color: #272341;
}

.about_me .outer-box .holder i,
.mega-holder .container span {
    background-image: linear-gradient(135deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.know-more {
    display: block;
    color: white;
    border: none;
    background-image: linear-gradient(135deg, #02aab0, #00cdac);
    padding: 15px 40px;
    background-color: #01b6ae;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 800;
}

.outer-box {
    /* margin-top: 5vh; */
    margin-bottom: 5vh;
    position: relative;
    padding: 2.5px;
    border: 3.5px solid #01b6ae;
    transition: all 0.2s ease-in;
}

.outer-box:hover {
    cursor: pointer;
}

.know-more:hover {
    cursor: pointer;
    padding: 15px 60px;
    transition: ease-in-out 0.3s;
    font-size: 25px;
}


/* ------- MAIN -------*/
body {
    /* display: flex; */
    width: 100%;
    /* background-color: greenyellow; */
}

main {
    width: 100%;
}

.about_me,
.experience,
.skills {
    background-image: linear-gradient(135deg, #02aab0, #00cdac);
    padding: 30px 10%;
    color: white;
    text-align: center;
    min-height: 90vh;
    transition: all 0.2s ease;
}

.section-title {
    font-size: 45px;
    text-align: center;
}

.styled-title {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 5%;
    text-align: center;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 5px;
    transition: all 0.2s;
    background: none;
    color: white;
}

.unique-container {
    padding: 4% 10%;
}

/* ------- ABOUT ME -------*/

.about_me .container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}

.profile img {
    width: 60%;
    border-radius: 15px;
    /* border: 1px solid black; */
    box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.377);
}

.about_me .container p {
    line-height: 1.5;
    text-align: justify;

}

.about_me .outer-box {
    display: flex;
    justify-content: center;
    width: 30%;
    border: 3.5px solid white;
    transition: all 0.2s ease-in;
    margin: 10% auto 0;
}

.about_me .outer-box .holder {
    justify-content: space-around;
    min-height: 7vh;
    background-color: white;
}



.about_me .outer-box .external {
    display: flex;
    align-items: center;
}

.about_me .know-more {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 0;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 700;
}

.about_me .know-more p {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(135deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.about_me .outer-box:hover {
    cursor: pointer;
    width: 40%;
}

.about_me a {
    display: flex;
    width: 100%;
}

.about_me a :hover {
    /* width: 40%; */
    transition: ease-in-out 0.3s;
    /* font-size: 25px; */
}

/* ------- EDUCATION -------*/

.projects .styled-title,
.projects .section-title,
.education .section-title,
.education .styled-title {
    background-image: linear-gradient(135deg, #02aab0, #00cdac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.projects .styled-title,
.education .styled-title {
    border-left: 5px solid #01b6ae;
    border-right: 5px solid #01b6ae;
    margin-bottom: 10%;
}


.education .certifications .styled-title {
    /* width: 50%; */
}

.education p {
    color: #272341;
}

.education .container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}

.education .seperator {
    width: 4%;
}

.education .section-holder {
    width: 48%;
    /* background-color: orange; */
    /* border-radius: 5px; */
    text-align: justify;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px -20px rgba(0, 0, 0, 0.377);
    /* border: 2px solid black; */
    transition: all .5s ease;
}

.projects h5,
.education h5,
.education h4,
.education h3 {
    margin: 0;
    margin-bottom: 1%;
}


h5,
h4 {
    font-weight: 400;
}

/* ------- EXPERIENCE -------*/
.experience .container {
    display: flex;
}

/* ------- PROJECTS -------*/
.projects .section-title {
    margin-bottom: 10%;
}

.projects .sub-project {
    display: flex;
    box-shadow: 10px 10px 50px -20px rgba(0, 0, 0, 0.377);
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.projects .styled-title {
    width: 500px;
    margin: 0;
}

.projects .soduku {
    width: 300px;
}

.projects .text {
    text-align: justify;
}

.projects .project-img {
    display: flex;
    align-items: center;
    margin-left: 70px;
    padding-right: 20px;
}

.projects .project-img img {
    width: 200px;
}


.projects h5 {
    margin-top: 2%;
}

/* ------- SKILLS -------*/

.skills {
    min-height: 80vh;
    padding: 30px 0;
}

.skill-holder {
    display: flex;
    justify-content: space-between;
}

.skills .container {
    padding: 0 30px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



.skills .styled-title:hover {
    cursor: pointer;
    width: 300px;
    margin: 0 auto;
    background-color: rgba(39, 35, 65, 0.85);
}

.skills .txt {
    font-weight: 500;
    font-size: 22px;
    min-width: 250px;
    text-align: left;
}

.short-text {
    display: none;
}

.dot-empty,
.dot-full {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ececec;
    margin-top: 10px;

}

.dot-list-holder {
    margin-top: 50px;
}

.dot-full {
    background-color: rgba(39, 35, 65, 0.85);
}

.dot-list {
    display: flex;
    justify-content: center;
    transform: rotateZ(-270deg);
    margin-top: 0;
}

.skills .txt li {
    padding-top: 20px;
    margin-right: 22px;
}

.skills .dot-list li {
    /* padding-top: 20px; */
    margin-right: 22px;
}

/* ------- FOOTER ------ */

footer {
    width: 100%;
    height: 30vh;
    background-color: #272341;
    color: white;
}

footer .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

footer .social-media {
    display: flex;
}

footer .social-media i {
    color: white;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-github:hover {
    color: #4078c0;
}

footer .social-media div {
    background-color: #00cdac;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 30px 20px;
}

footer .quick-links {
    margin-top: auto;
}

footer .quick-links ul {
    display: flex;
}

footer .quick-links li a {
    color: white;
    transition: all 0.2s ease;
}

footer .quick-links li a:hover {
    color: #50f2a7;
    font-size: 22px;
    transition: all 0.2s ease;
}

footer .quick-links ul .seperator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(50%);
    margin: 0 10px;
}



/* ------ MEDIA QUERRIES ------*/

@media(max-width: 600px) {
    .nav-list {
        display: none;
    }

    .title {
        font-size: 45px;
        padding-left: 10%;
    }

    .mega-holder {
        padding-top: 10%;
    }

    .about_me,
    .experience,
    .skills {
        padding: 30px 20px;
        text-align: center;
        min-height: 90vh;
        transition: all 0.2s ease;
    }


    .about_me .container,
    .education .container,
    .skills .container {
        flex-direction: column;
    }

    .education .section-holder {
        width: 100%;
    }

    .education .certifications {
        margin-top: 10%;
    }

    .education .certifications .styled-title {
        width: 80%;
    }

    .dot-empty,
    .dot-full {
        width: 20px;
        height: 20px;
        margin-top: 8px;
    }

    .skills .container {
        padding: 0;
        padding-left: 5%;
    }

    .skills .styled-title {
        margin: 10% auto;
        /* width: 80%; */
    }

    .skills .txt li {
        margin: 0;
    }

    .skills .dot-list {
        margin: 0 auto;
    }

    .skills .txt {
        font-size: 20px;
    }

    .skills .txt ul {
        margin: 0
    }

    .projects .sub-project {
        flex-direction: column;
    }

    .projects .sub-project .project-img {
        margin: 0 auto;
        padding: 0;
    }

    .projects .sub-project .styled-title {
        font-size: 1.2rem;
        width: 100%;
    }

    /* FOOTER */
    footer .fa-2x {
        font-size: 1em;
    }

    footer .social-media div {
        width: 30px;
        height: 30px;
        margin: 30px 10px;
    }

    footer .quick-links a {
        font-size: 0.6rem;
    }

    footer .quick-links ul .seperator {
        width: 5px;
        height: 5px;
        margin: auto 5px;
    }

    footer .quick-links ul {
        padding: 0;
        margin-bottom: 10%;

    }

    .skills .txt {
        min-width: 120px;
        transform: translateY(-9%);
    }

    .long-text {
        display: none;
    }

    .short-text {
        display: block;
    }

    .dot-list-holder {
        margin-top: 25px;
    }

    .skills .dot-list-holder li {
        margin-right: 25px;
    }

    .about_me .outer-box,
    .about_me .outer-box:hover {
        width: 60%;
    }

    .projects .project-img img {
        width: 100px;
    }

}